{% extends 'BlogApp/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Articles list' %}
{% endblock %}

{% block body %}

    <h1> {% translate 'Articles' %}: </h1>

        {% blocktranslate count article_count=articles|length %}
            <div>
                There is only one article
                {% plural %}
                There are {{ article_count }} articles
            </div>
        {% endblocktranslate %}
    <div>{% for article in article_list %}</div>
        <div>
            <p>{% translate 'Title' context 'article name' %}: {{ article.title }}</p>
            <p>{% translate 'Content' %}: {{ article.content }}</p>
            <p>{% translate 'Publication data' %}: {{ article.pub_date }}</p>
            <p>{% translate 'Author' %}: {{ article.author.name }}</p>
            <p>{% translate 'Category' %}: {{ article.category.name }}</p>
            <p>{% translate 'Tags' %}:
                {% for tag in article.tags.all %}
                    {{ tag.name }}
                {% endfor %}</p>
        </div>
        <hr>
        {% endfor %}
        <a href="{% url 'BlogApp:article-create' %}"> >>> Create a new one <<< </a>
{% endblock %}