{% extends 'shopapp/base.html' %}

{% block title %}
    New order
{% endblock %}

{% block body %}

    <h1> New order creation </h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create order</button>
        </form>
    </div>
<div>
    <a href="{% url 'shopapp:products_list' %}"> >>> Back to products <<< </a>
</div>
<div>
    <a href="{% url 'shopapp:orders_list' %}"> >>> Back to orders <<< </a>
</div>


{% endblock %}