{% extends 'shopapp/base.html' %}

{% block title %}
    Update product {{ product.pk }}
{% endblock %}

{% block body %}

    <h1> Update product </h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update product</button>
        </form>
    </div>
<div>
    <a href="{% url 'shopapp:product_details' pk=object.pk %}"> >>> Return to product <<< </a>
</div>
<div>
    <a href="{% url 'shopapp:products_list' %}"> >>> Back to products list <<< </a>
</div>
{% endblock %}