{% extends 'shopapp/base.html' %}
{% load cache %}
{% block title %}
    Shop index
{% endblock %}

{% block body %}

    <h1> Hello Shop App </h1>
    <div>
        <ul>
            {% for name, price in products %}
                <li>Product name: {{ name }}
                    Product price: {{ price}}
                </li>
            {% empty %}
            No products yet...
            {% endfor %}
        </ul>
    </div>
    <div>
        <strong>
<!--            Если окончание должно быть просто множественное число используем{{ items|pluralize }}-->
<!--            Будет добавлено 's' в конце. А если нет, то добавляем свое окончание как в примере-->
<!--            А если слово полностью меняет окончание, то надо указать варианты через запятую-->
<!--            item{{ cherr|pluralize:"y, ies" }} где 'y' - для удинственного числа, а 'ies' для множественного-->
            You have {{ items }} item{{ items|pluralize:"es" }}
        </strong>
    </div>
    <div>
        Time running: {{ time_running }}
    </div>
{% cache 100 lorem products %}
<!-- Обязательно указывает период кеширования и название ключа (отдельный ключ, он не связан с тегом lorem)-->
<!-- переменная lorem products указывает, что для этого блока products будет один кэш, а для другого блока с другим products - другой-->
    <div>
        {% lorem 3 p random %}
    </div>
{% endcache %}

{% endblock %}
