{% extends 'shopapp/base.html' %}

{% block title %}
    Shop index
{% endblock %}

{% block body %}

    <h1> Hello Shop App </h1>
    <div>
        <ul>
            {% for name, price in products %}
                <li>{{ name }} ({{ name|length }}) for ${{ price }}</li>
                    {% if name|length_is:'7' %}
                <span>Lucky product!!!</span>
            {% endif %}
            {% empty %}
            No products yet...
            {% endfor %}
        </ul>
    </div>
    <div>
        <strong>
<!--            Если окончание должно быть просто множественное число используем{{ items|pluralize }}-->
<!--            Будет добавлено 's' в конце. А если нет, то добавляем свое окончание как в примере-->
<!--            А если слово полностью меняет окончание, то надо указать варианты через запятую-->
<!--            item{{ cherr|pluralize:"y, ies" }} где 'y' - для удинственного числа, а 'ies' для множественного-->
            You have {{ items }} item{{ items|pluralize:"es" }}
        </strong>
    </div>
    <div>
        Time running: {{ time_running }}
    </div>
    <div>
        {% lorem 3 p random %}
    </div>

{% endblock %}
