{% extends 'myauth/base.html' %}
{% load cache %}
{% block title %}
    About me
{% endblock %}

{% block body %}
  <h1>User info</h1>
  {% if user.is_authenticated %}
<!-- Добавим уникальный кэш для каждого пользователя-->
    {% cache 300 userinfo user.username %}
     <h2>{{ user.username }}</h2>
  <h3>Details</h3>
    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="Avatar" style="max-width: 200px"/>
        <p><a href="{% url 'myauth:profile_update' %}"> >>> Change avatar <<< </a></p>
    {% else %}
      <p>No avatar yet</p>
      <a href="{% url 'myauth:profile_update' %}"> >>> Update profile <<< </a>
    {% endif %}
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    {% endcache %}
  {% else %}
    <p>You are not logged in</p>
  {% endif %}
{% endblock %}