<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base title
        {% endblock %}
    </title>
    <style>
        body {
            background-color: #f2f2f2;
        }
        .header {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
{% block header %}
<div class="header">
    <div><a href="{% url 'shopapp:orders_list' %}">Orders</a></div>
    <div><a href="{% url 'shopapp:products_list' %}">Products</a></div>
    <div><a href="{% url 'shopapp:groups_list' %}">Groups</a></div>
    {% if user.is_authenticate %}
        <div><a href="{% url 'myauth:about-me' %}">My info /</a>
        {{ user }} / <a href="{% url 'myauth:logout' %}">Logout</a></div>
    {% else %}
        <div>
            <a href="{% url 'myauth:login' %}">Login</a><<<>>>
            <a href="{% url 'myauth:register' %}">Sign up</a>
        </div>

    {% endif %}
</div>
<hr>
{% endblock %}
{% block body %}

{% endblock %}
<div>
    {% now 'H:i' %}
</div>
<div>
    {% now 'l' as current_weekday %}
    Today is: {{ current_weekday }}
</div>
</body>
</html>